data/

graph_visual_debug_train/
graph_visual_debug
runs/
test_folder/
test_folder_linked_debug/

#Etest.ipynb
# annotating_relationships.ipynb
# fsd.py

.ipynb_checkpoints
.idea

models/gat_graph_text


models/
yolo_worker.py
ocr_batch.py
ocr_worker.py
